.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    vector-effect: non-scaling-stroke;
}

.rank_line {
    fill: none;
    stroke-width: 1.5px;
    vector-effect: non-scaling-stroke;

    /* Blend changes over time */
    transition: stroke .5s ease-out;
}

.hover_line {
    fill: none;
    opacity: 0;
    stroke: green;
    stroke-width: 12px;
}
