.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    vector-effect: non-scaling-stroke;
}

.char_label {
    font-family: 'Open Sans', sans-serif;
    pointer-events: none;  /* prevents cursor from interactive with text element */
}

.smash_tier_title {
    font-family: 'Tahoma';
    font-weight: bold;
    font-size: 11pt;
    pointer-events: none; /* prevents cursor from interactive with text element */
}

.smash_tier_entry {
    font-family: 'Tahoma';
    font-size: 8.5pt;
    pointer-events: none; /* prevents cursor from interactive with text element */
}

.char_label_hover {
   opacity:0;
   style:fill;
}

.rank_line {
    fill: none;
    stroke-width: 1.5px;
    vector-effect: non-scaling-stroke;

    /* Blend changes over time */
    transition: stroke .5s ease-out;
}

.hover_line {
    fill: none;
    opacity: 0;
    stroke: green;
    stroke-width: 12px;
}